.circle {
	 width: 400px;
     height: 400px;
     background-image: conic-gradient(
		 #2D8FB0 120deg,
		 #295074 0 240deg,
		 #94BA66 0deg
		 );
     border-radius: 50%;
	 position: absolute;
	 left: 759px;
}
.triangle {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 200px solid rgb(242, 115, 37);
 	position: absolute;
 	left: 850px;
 	top: 90px;
}
.trapezium {
     width: 0;
     height: 0;
     border-left: 80px solid transparent;
     border-right: 80px solid transparent;
     border-bottom: 60px solid rgb(255, 255, 255);
	 padding-left: 150px;
	 position: absolute;
	 left: 800px;
	 top: 230px;
}
.rectangle-left{
    width: 500px;
    height: 85px;
    background: rgb(255, 255, 255);
	position: absolute;
	top: 92px;
	left: 650px;
	transform: rotate(115deg);
}
.rectangle-right{
    width: 500px;
    height: 85px;
    background: rgb(255, 255, 255);
	position: absolute;
	top: 200px;
	left: 819px;
	transform: rotate(65deg);
}